.login {
    color: var(--text-color);
    margin-bottom: 5.2em;
    
    .username{
        display: flex;
    }
    .password{
        display: flex;
    }
    .btn{
        
        color: var(--background-light);
    }
    
}
.rgr{
    color: red;
    padding-left: 3em;
}
